

#site-name {
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #252525;
}

#slogan-top {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: -30px;
    color: #252525;
}

.main-container {
    text-align: center;
    width: 80vh;
    height: 39vh;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.main-container:hover {
    transform: scale(1.05);
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

    


.subtitle-h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #252525;
}